* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    /* background-color: #555; */
  }
  
  .content-wrapper {
    margin: 0 auto;
    /* max-width: 1200px; */
    display: flex;
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    margin-bottom: 1.5em;
  }
  
  .news-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    /* height: 12rem; */
    overflow: hidden;
    border-radius: 0.5rem;
    /* flex: 1; */
    width: 20em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  
  @media (min-width: 900px) {
  
  .news-card {
      /* height: 20rem */
  }
    }
  
  .news-card::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: rgba(0, 0, 0, 0)
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%); */
      z-index: 0;
    }
  
  .news-card__image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      transition: transform 3s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: relative;
      z-index: -1;
    }
  
  .news-card__text-wrapper {
      position: absolute;
      bottom: 0rem;
      padding: 0rem;
      color: white;
      width: 100%;
          background-color: rgba(0, 0, 0, 0.8);
      /* background-color: red; */
      transition: background-color 1.5s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  .news-card__title {
      transition: color 1s ease;
      padding: 0%;
      margin: 0%;
      font-size: 2em;
    }
  
  .news-card__role {
      padding: 0%;
      margin: 0%;
      font-size: 1.25rem;
      color: #ccc;
    }
  
  .news-card__details-wrapper {
      max-height: 0;
      opacity: 0;
      width: 100%;
      transition: max-height 1.5s ease, opacity 1s ease;
      display: flex;
      justify-content: center;
    }

  .news-card__details-wrapper a{
      color: white;
      margin: 0.5em 0.5em;
      font-size: 0.75em;
  }
  
  @media (min-width: 501px) {
      .news-card:hover .news-card__details-wrapper {
        max-height: 10rem;
        opacity: 1;
      }
      .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .news-card:hover .news-card__title {
        color: var(--link-color);
      }
      .news-card:hover .news-card__image {
        transform: scale(1.1);
        z-index: -1;
      }
    }
  
    @media (max-width: 501px) {
      .news-card{
        width: 22.5em;
      }
      .news-card:hover .news-card__details-wrapper {
        max-height: 10rem;
        opacity: 1;
      }
      .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .news-card:hover .news-card__title {
        color: var(--link-color);
      }
      .news-card:hover .news-card__image {
        transform: scale(1.1);
        z-index: -1;
      }
      .news-card__title {
        font-size: 1.25em;
      }
    
    .news-card__role {
        font-size: 0.9rem;
        font-weight: bold;
      }
    
    .news-card__details-wrapper {
        max-height: 0;
        opacity: 0;
        width: 100%;
        transition: max-height 1.5s ease, opacity 1s ease;
        display: flex;
        justify-content: center;
      }
  
    .news-card__details-wrapper a{
        color: white;
        margin: 0em 1em 0.5em 0em;
        font-size: 0.75em;
    }
    }
