<section class="wrapper analytics-main flex">
  <h1 class="text-center">COVID IMPACT PAGE</h1>

</section>

<section>
  <iframe [src]="urlSafe" height="600" width="100%"></iframe>
</section>

<section class="wrapper analytics-main flex">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti debitis asperiores ullam facilis, ratione
    deleniti ipsa repellat nesciunt, ea doloremque pariatur nihil officiis cumque alias! Enim eum laboriosam
    doloribus voluptatem. <br><br>
    Nesciunt quas necessitatibus nulla facere laudantium recusandae commodi iusto reprehenderit numquam! Eligendi
    laboriosam, dolore illum blanditiis praesentium maiores voluptatem amet dignissimos, deserunt voluptatibus
    optio. Repudiandae iste ipsum vitae labore illum.<br><br>
  </p>
</section>

<object data='{{urlSafe}}' width="600" height="400">
  <embed src="{{urlSafe}}" width="600" height="400" />
</object>