
    <!-- Data Sources Section -->
    <section class="wrapper data-sources-section">
      <h1 class="text-center">DATA SOURCES PAGE</h1>
       <p class="intro">This page contains a list of datasets that were used for the project</p>

       <div class="card-wrapper">
         
         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/c3ai-logo.jpg" class="card-img" alt="..."></a>
                
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">C3.ai</h5>
               </div>
             </div>
             
             <div class="card-body">
               <a href="https://c3.ai/covid-19-api-documentation/#section/C3.ai-APIs-for-COVID-19-Unified-Data">
               <p class="card-text">C3 AI COVID-19 Data Lake
                 <br>Access unified, analysis-ready COVID-19 data, at no charge&hellip;</p>
               <small class="">Learn More >></small>
               </a>
             </div>

           </div>
         </div>

         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/universityofoxford.jpg" class="card-img" alt="..."></a>
                 <!-- <a href=""><img src="/assets/images/logos/universityofoxford.jpg" class="card-img" alt="..."></a> -->
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">University of Oxford</h5>
               </div>
             </div>
             
             <div class="card-body">
               <a href="https://www.bsg.ox.ac.uk/research/research-projects/coronavirus-government-response-tracker">
               <p class="card-text">The Oxford COVID-19 Government Response Tracker (OxCGRT) systematically collects information on several&hellip;</p>
               <small class="">Learn More >></small>
               </a>
             </div>

           </div>
         </div>

         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/udem_logo.jpg" class="card-img" alt="..."></a>
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">University of Montreal</h5>
               </div>
             </div>
             
             <div class="card-body">
               <a href=" https://github.com/ieee8023/covid-chestxray-dataset">
               <p class="card-text">We are building an open database of COVID-19 cases with chest X-ray or CT images.&hellip;</p>
               <small class="">Learn More >></small>
               </a>
             </div>

           </div>
         </div>

         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/jhuniversity.jpg" class="card-img" alt="..."></a>
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">John Hopkins University</h5>
               </div>
             </div>
             
             <div class="card-body">
               <a href=" https://github.com/CSSEGISandData/COVID-19">
               <p class="card-text">COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University&hellip;</p>
               <small class="">Learn More >></small>
               </a>
             </div>

           </div>
         </div>

         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/thecovidtrackingproject.jpg" class="card-img" alt="..."></a>
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">The COVID Tracking Project</h5>
               </div>
             </div>
             
             <div class="card-body">
               <a href="https://covidtracking.com/">
               <p class="card-text">The public deserves the most complete data available about COVID-19 in the US&hellip;</p></a>
               <small class=""><a href="https://covidtracking.com/data/download/all-states-history.csv">Download File</a></small>
             </div>

           </div>
         </div>

         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/google-bigquery-logo-1.svg" class="card-img" alt="..."></a>
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">Weather Data for COVID-19 Research</h5>
               </div>
             </div>
             
             <div class="card-body">
               <a href="https://console.cloud.google.com/bigquery?p=bigquery-public-data&d=covid19_weathersource_com&t=county_day_history&page=table&project=zippy-card-293323&pli=1">
               <p class="card-text">Google BigQuery COVID-19 Dataset&hellip;</p>
               <small class="">Learn More >></small>
               </a>
             </div>

           </div>
         </div>

         
         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/figshare.png" class="card-img" alt="..."></a>
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">Figshare</h5>
               </div>
             </div>
             
             <div class="card-body">
               <a href="https://figshare.com/articles/temperature_csv/3171766">
               <p class="card-text">Temperature monthly data per country&hellip;</p>
               <small class="">Learn More >></small>
               </a>
             </div>

           </div>
         </div>

         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/GitHub-Mark.png" class="card-img" alt="..."></a>
                
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">Reispar Github</h5>
               </div>
             </div>
             
             <div class="card-body">
               <a href="https://github.com/Reispar-Analytics-Academy/TeamReispar-C3DataHackathonSolution">
               <p class="card-text">Source Codes and Notebooks&hellip;</p>
               <small class="">Learn More >></small>
               </a>
             </div>

           </div>
         </div>

         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/kaggle.png" class="card-img" alt="..."></a>
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">Kaggle</h5>
               </div>
             </div>
             
             <div class="card-body smallfont">
               <a href="https://www.kaggle.com/plameneduardo/sarscov2-ctscan-dataset">
               <p class="card-text">1: A large dataset of CT scans for COVID-19</p></a>

               <a href="https://www.kaggle.com/luisblanche/covidct">
               <p class="card-text">2: COVID-19 Lung CT Scans Identification</p></a>

               <a href="https://www.kaggle.com/tanmoyx/covid19-patient-precondition-dataset">
               <p class="card-text">3: Data obtained from Mexican government data set</p></a>

               <a href="https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset">
               <p class="card-text">4: Day level information on COVID-19 affected cases</p></a>

               <a href="https://www.kaggle.com/jcyzag/covid19-lockdown-dates-by-country">
               <p class="card-text">5: COVID-19 Lockdown dates by country</p></a>

             </div>

           </div>
         </div>

         <div class="col-md-6 col-sm-12 col-xs-12 col-lg-4 p-3" >
           <div class="row card flex  no-gutters">

             <div class="card-heading">
               <div class="col-3 icon-div">
                 <a href=""><img src="/assets/images/logos/worldbank.jpg" class="card-img" alt="..."></a>
               </div>
               <div class="col-9 source-title-div">
                   <h5 class="card-title">The World Bank</h5>
               </div>
             </div>
             
             <div class="card-body smallfont">
               <a href="https://data.worldbank.org/indicator/SP.POP.TOTL">
               <p class="card-text">1: Population total from World Bank</p></a>

               <a href=" https://data.worldbank.org/indicator/SP.DYN.TFRT.IN">
               <p class="card-text">2: Fertility rate, total from World Bank</p></a>

               <a href="https://data.worldbank.org/indicator/SP.DYN.LE00.IN">
               <p class="card-text">3: Life expectancy at birth, total from World Bank</p></a>

               <a href="https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset">
               <p class="card-text">4: Day level information on COVID-19 affected cases</p></a>
             </div>

           </div>
         </div>
         
       </div>


  </section>
   
