
<section class="wrapper data-sources-section">
    <h1 class="text-center">DATA SOURCES PAGE</h1>
     <p class="intro">This page contains a list of datasets that were used for the project</p>

     <div class="card-wrapper">
       
       <div class="col-md-6 p-3" >
         <div class="row card flex  no-gutters">

           <div class="card-heading">
             <div class="col-3 icon-div">
               <a href=""><img src="http://via.placeholder.com/300x300" class="card-img" alt="..."></a>
              
             </div>
             <div class="col-9 source-title-div">
                 <h5 class="card-title">Source Title 1</h5>
             </div>
           </div>
           
           <div class="card-body">
             <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aperiam voluptate eos? Libero, voluptas fugit &hellip;</p>
             <small class=""><a href="#">Learn More >></a></small>
           </div>

         </div>
       </div>

       <div class="col-md-6 p-3" >
         <div class="row card flex  no-gutters">

           <div class="card-heading">
             <div class="col-3 icon-div">
               <a href=""><img src="http://via.placeholder.com/300x300" class="card-img" alt="..."></a>
             </div>
             <div class="col-9 source-title-div">
                 <h5 class="card-title">Source Title 1</h5>
             </div>
           </div>
           
           <div class="card-body">
             <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aperiam voluptate eos? Libero, voluptas fugit &hellip;</p>
             <small class=""><a href="#">Learn More >></a></small>
           </div>

         </div>
       </div>

       <div class="col-md-6 p-3" >
         <div class="row card flex  no-gutters">

           <div class="card-heading">
             <div class="col-3 icon-div">
               <a href=""><img src="http://via.placeholder.com/300x300" class="card-img" alt="..."></a>
             </div>
             <div class="col-9 source-title-div">
                 <h5 class="card-title">Source Title 1</h5>
             </div>
           </div>
           
           <div class="card-body">
             <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aperiam voluptate eos? Libero, voluptas fugit &hellip;</p>
             <small class=""><a href="#">Learn More >></a></small>
           </div>

         </div>
       </div>

       <div class="col-md-6 p-3" >
         <div class="row card flex  no-gutters">

           <div class="card-heading">
             <div class="col-3 icon-div">
               <a href=""><img src="http://via.placeholder.com/300x300" class="card-img" alt="..."></a>
             </div>
             <div class="col-9 source-title-div">
                 <h5 class="card-title">Source Title 1</h5>
             </div>
           </div>
           
           <div class="card-body">
             <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aperiam voluptate eos? Libero, voluptas fugit &hellip;</p>
             <small class=""><a href="#">Learn More >></a></small>
           </div>

         </div>
       </div>

       <div class="col-md-6 p-3" >
         <div class="row card flex  no-gutters">

           <div class="card-heading">
             <div class="col-3 icon-div">
               <a href=""><img src="http://via.placeholder.com/300x300" class="card-img" alt="..."></a>
             </div>
             <div class="col-9 source-title-div">
                 <h5 class="card-title">Source Title 1</h5>
             </div>
           </div>
           
           <div class="card-body">
             <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aperiam voluptate eos? Libero, voluptas fugit &hellip;</p>
             <small class=""><a href="#">Learn More >></a></small>
           </div>

         </div>
       </div>

       <div class="col-md-6 p-3" >
         <div class="row card flex  no-gutters">

           <div class="card-heading">
             <div class="col-3 icon-div">
               <a href=""><img src="http://via.placeholder.com/300x300" class="card-img" alt="..."></a>
             </div>
             <div class="col-9 source-title-div">
                 <h5 class="card-title">Source Title 1</h5>
             </div>
           </div>
           
           <div class="card-body">
             <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aperiam voluptate eos? Libero, voluptas fugit &hellip;</p>
             <small class=""><a href="#">Learn More >></a></small>
           </div>

         </div>
       </div>

       
     </div>


</section>
