:root {
    --primary-color: #325168;
    --secondary-color: #1c3f88;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --text-color: #081f2c;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --alt-white: #FCF6F5FF;
    --link-color: #f4f4f4;
    --footer-color: #2C423F;
    --body-bg: white;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: #081f2c;
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
}
p{
    margin: 10px 0px;
}
img{
    width: 100%;
}
.fa-bars{
    color: var(--link-color);
    padding: 0%;
    margin: 0%;
    justify-self: center;
}
code, pre{
    background-color: #000;
    color: #fff;
    padding: 10px;
}
.navbar .navbar-toggler{
    border: none;
    padding: 0%;
    margin: 0%;
}
.navbar-toggler-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}


/* Navbar Stylings */
.navbar{
    background-color: var(--primary-color) ;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0%;
    width: 100%;
    /* height: 10vh; */
}

.navbar .wrapper {
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-brand{
    display: flex;
    align-items: center;
    width: 10%;
    margin: 0%;
    padding: 0%;
}
.navbar .logo{
    width: 100%;
}
.navbar-nav a{
    color: var(--link-color);
    padding: 5px;
    margin: 0 5px;
    font-weight: bold;
    /* border-bottom: 2px solid white; */
}

.navbar .dropdown-menu{
    background-color: var(--primary-color);
    border: none;
}
.navbar .dropdown .dropdown-item:hover{
    background-color: var(--primary-color);
    color: var(--link-color);
    width: auto;
    display: block;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
    color: red;
}

.navbar-nav a:hover{
    border-bottom: 1.5px solid var(--link-color);
}

.navbar-nav .nav-item .active{
    border-bottom: 1.5px solid var(--link-color);
}

/* mainContent Section */
.mainContent{
    color: var(--text-color);
    margin: 0%;
    padding-bottom: 1em;
    padding-top: 1em;
    background: url(/assets/images/covidbg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /* height: 80vh; */
    overflow: hidden;
}
.mainContent:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,0.7);
}
.mainContent h1{
    font-size: 2rem;
    color: var(--link-color);
    font-weight: bold;
}
.mainContent p{
    margin: 20px 0;
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 600;
}
.mainContent a:hover{
    color: var(--link-color)
}

.mainContent-text{
    animation: slideInFromLeft 1s ease-in;
    padding: 0%;
    margin: 0%;
}
.mainContent-text p{
    color: var(--link-color);
}
.mainContent-ctScan{
    animation: slideInFromRight 1s ease-in;
    align-items: center;
    padding: 1em 0.5em;
    margin: 0%;
}
.mainContent-ctScan #previewImage{
    max-width: 75%;
}
.mainContent-ctScan form{
    width: 100%;
    padding: 0em 0.5em;
}
.mainContent-ctScan p,h3{
    color: #000;
}
.mainContent-ctScan p{
    font-size: 1em;
    font-weight: normal;
    margin: 0%;
    padding: 0 0 1em 0;
}
.mainContent-ctScan .form-control {
    margin: 1.5em 0em;
    width: 100%;
    height: 100%;
    padding: 0%;
}
  
.mainContent-ctScan .form-control input[type='file'] {
    width: 100%;
    margin: 0;
    font-size: 1em;
    padding: 0em;
}
  
.mainContent-ctScan input:focus {
    outline: none;
}

.mainContent-ctScan #myProgress {
    width: 100%;
    background-color: #ddd;
    margin: 1em 0em;
}
  
.mainContent-ctScan  #myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

/* CT-Scan Page */
.ct-scan-heading{
    margin: 2em 0em;
}
.ct-scan-heading h1{
    font-weight: bold;
}
.ct-scan-heading p{
    /* line-height: 2em; */
    font-size: 1.25em;
}
.ct-scan-uploadSection{
    margin: 1em 0em 3em 0em;
    /* background-color: whitesmoke; */
}
.ct-scan-uploadSection .flex{
    flex-direction: row;
}
.ct-scan-uploadSection .card{
    padding: 0em;
}
.ct-scan-uploadSection .uploadSection-upload {
    padding: 1em 1em;
}
.ct-scan-uploadSection .uploadSection-upload .card {
    padding: 1em;
}
.ct-scan-uploadSection .uploadSection-upload .form-control {
    margin: 0em 0em 1em 0em;
    width: 100%;
    height: 100%;
    padding: 0%;
}
.ct-scan-uploadSection .uploadSection-upload .form-control input[type= 'file'] {
    padding: 0em;
    width: 100%;
}
.ct-scan-uploadSection .uploadSection-upload input[type= 'submit'] {
    width: fit-content;
    align-self: center;
}
.ct-scan-uploadSection #myProgress {
    width: 100%;
    background-color: #ddd;
    margin: 1em 0em;
}
  
.ct-scan-uploadSection  #myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.ct-scan-uploadSection .uploadSection-preview{
    padding: 0%;
    margin: 0%;
}
.ct-scan-uploadSection .uploadSection-preview img{
    width: 100%;
    border-radius: 0px 10px 10px 0px;
}

.ct-scan-result{
    margin: 0em 0em 2em 0em;
}
.ct-scan-result h3{
    font-weight: bold;
}
.ct-scan-result p{
    font-size: 1.25em;
}

/* Analytics Page */
.analytics-main{
    background-color: var(--body-bg);
    flex-direction: column;  
    margin: 5px 0px 20px 0px;  
}
.analytics-main h1{
    margin: 10px 0 0px 0px;
    font-size: 2em;
    font-weight: bold;
}
.analytics-main p{
    margin: 10px 0 0px 0px;
    font-weight: 600;
    font-size: 1.25em;
}
.analytics-main .card{
    width: 100%;
    min-height: 20vh;
}

.analytics-main .card img{
    width: 20%;
}

/* Covid Impact Section */
.impact-heading{
    margin-bottom: 30px;
}
.impact-heading h1{
    margin-bottom: 0px;
    padding: 0%;
    font-size: 2em;
    font-weight: bold;
}
.impact-heading p{
    margin-top: 0px;
    padding: 0%;
    font-size: 1.25em;
    font-weight: bold;
}
.economic-impact{
    margin-bottom: 30px;
}
.economic-impact h3{
    margin-bottom: 0px;
    padding: 0%;
    font-size: 1.75em;
    font-weight: bold;
}
.economic-impact p{
    margin-top: 0px;
    padding: 0%;
    font-size: 1.25em;
    font-weight: bold;
}
.health-impact{
    margin-bottom: 30px;
}
.health-impact h3{
    margin-bottom: 0px;
    padding: 0%;
    font-size: 1.75em;
    font-weight: bold;
}
.health-impact p{
    margin-top: 0px;
    padding: 0%;
    font-size: 1.25em;
    font-weight: bold;
}

/* Data Sources Section */
.data-sources-section{
    margin-bottom: 2em;
}
.data-sources-section h1{
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
}
.data-sources-section .intro{
    font-size: 1.25em;
    margin-bottom: 1em;
    font-weight: bold;
}
.data-sources-section .card-wrapper{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}

.data-sources-section .card-wrapper .card{
    padding: 1em;
    margin: 0em;
    width: 100%;
    flex-direction: column;
    transition: 0.4s ease-in;
}
.data-sources-section .card-wrapper .card:hover{
    transform: scale(1.05);

}
.data-sources-section .card .card-heading{
    padding: 0em;
    margin: 0%;
    width: 100%;
    display: flex;
}

.data-sources-section .card-wrapper .card .icon-div{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
}
.data-sources-section .card-wrapper .icon-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.data-sources-section .card-wrapper .source-title-div{
    padding: 0%;
    margin: 0%;
    text-align: left;
    display: flex;
    align-items: flex-end;
}
.data-sources-section .card .card-title{
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0em 0em 0.5em;
}
.data-sources-section .card .card-body{
    text-align: left;
    padding: 0em;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.data-sources-section .card-body .card-text{
    font-size: 1.25em;
    line-height: 1.25em;
    margin: 0.5em 0em;
    font-weight: bold;
}
.data-sources-section .card-body small{
    font-size: 1.125em;
    text-align: right;
    font-weight: bold;
}

/* Project Overview Section */
.project-overview-content{
    margin: 1.5em 0em;
}
.project-overview-content h1{
    font-size: 2em;
    font-weight: bold;
}
.project-overview-content p{
    margin-bottom: 1em;
    font-size: 1.25em;
    font-weight: bold;
}



/* Team Members Section */
.team-members-heading h1{
    font-size: 2em;
    font-weight: bold;
}
.card2{
    flex-direction: row;
    flex-wrap: wrap;
}
/* Footer */
footer{
    background-color: var(--primary-color);
    color: var(--alt-white);
    text-align: center;
    padding: 0.25em 0em;
    /* height: 10vh; */
}
footer .social a{
    margin: 0 10px;
    color: var(--alt-white);
}

footer .flex{
    justify-content: space-evenly;
}
.footer .div{
    padding: 0%;
    margin: 0%;
}
.footer h4, p{
    margin: 0em;
    padding: 0%;
}
.footer h4{
    font-size: 1.25em;
}

/* Animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInFromBottom{
    0%{
        transform: translatey(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes moveUp{
    0%{
        transform: translateX(1px);
    }
    100%{
        transform: translateX(1.2px);
    }
}

/* Tablets and Under */
@media all and (min-width:501px) and (max-width: 1023px){

        /* Navbar */
        .navbar{
            padding: 5px 10px;
            margin: 0%;
        }
        
        .navbar .logo-div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .navbar .logo{
            width: 100%;
        }
        .navbar nav{
            width: 100%;
            padding: 0 10px;
        }
        .navbar ul{
            display: flex;
            justify-content: space-between;
            padding: 5px 0px;
            margin: 0%;
        }
        
        .navbar a{
            padding: 5px;
            margin: 0px;
            font-weight: bold;
            font-size: 1rem;
        }
    
        /* mainContent Section */
    
        .mainContent{
            /* background-color: var(--body-bg); */
            padding-bottom: 1em;
            padding-top: 1em;
            background: url(/assets/images/covidbg.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            /* height: 80vh; */
        }
        .mainContent:before {
            content: "";
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background: rgba(0,0,0,0.7);
          }
        .mainContent h1{
            font-size: 2rem;
            /* color: var(--link-color); */
            font-weight: bold;
        }
        .mainContent p{
            margin: 10px 0;
            font-size: 1.25rem;
            /* color: var(--text-color); */
            font-weight: 500;
        }
     
        .mainContent a:hover{
            color: var(--text-color)
        }
        
        .mainContent-text{
            animation: slideInFromLeft 1s ease-in;
            padding: 0em 0em 1em 0em;
            margin: 0%;
            display: flex;
            flex-direction: column;
        }
        .mainContent-text a{
            align-self: flex-end;
        }
        .mainContent-ctScan{
            animation: slideInFromRight 1s ease-in;
            align-items: center;
            padding: 1em 0.5em;
            margin: 0%;
        }
        .mainContent-ctScan #previewImage{
            max-width: 100%;
        }
        .mainContent-ctScan form{
            width: 100%;
            padding: 0em 0.5em;
        }
        .mainContent-ctScan p,h3{
            color: #000;
        }
        .mainContent-ctScan p{
            font-size: 1.25em;
            font-weight: normal;
            margin: 0%;
            padding: 0 0 1em 0;
        }
        .mainContent-ctScan .form-control {
            margin: 1.5em 0em;
            width: 100%;
            height: 100%;
            padding: 0%;
        }
          
        .mainContent-ctScan .form-control input[type='file'] {
            width: 100%;
            margin: 0;
            font-size: 1.25em;
            padding: 0em;
        }
          
        .mainContent-ctScan input:focus {
            outline: none;
        }
        
        .mainContent-ctScan #myProgress {
            width: 100%;
            background-color: #ddd;
            margin: 1em 0em;
        }
          
        .mainContent-ctScan  #myBar {
            width: 0%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
        }    
        /* CT-Scan Page */
        .ct-scan-heading{
            margin: 1.25em 0em;
        }
        .ct-scan-heading p{
            /* line-height: 2em; */
        }
        .ct-scan-heading h1{
            font-size: 1.5em;
        }
        .ct-scan-uploadSection{
            margin: 1em 0em 2.5em 0em;
            /* background-color: whitesmoke; */
        }
        .ct-scan-uploadSection .flex{
            flex-direction: row;
        }
        .ct-scan-uploadSection .card{
            padding: 0em;
        }
        .ct-scan-uploadSection .uploadSection-upload {
            padding: 0.5em 0.5em;
        }
        .ct-scan-uploadSection .uploadSection-upload .card {
            padding: 1em;
        }
        .ct-scan-uploadSection .uploadSection-upload .form-control {
            margin: 0em 0em 1em 0em;
            width: 100%;
            height: 100%;
            padding: 0%;
            font-size: 1.25em;
        }
        .ct-scan-uploadSection .uploadSection-upload .form-control input[type= 'file'] {
            padding: 0em;
            width: 100%;
        }
        .ct-scan-uploadSection .uploadSection-upload input[type= 'submit'] {
            width: fit-content;
            align-self: center;
            padding: 0.25em 0.5em;
        }
        .ct-scan-uploadSection #myProgress {
            width: 100%;
            background-color: #ddd;
            margin: 0.5em 0em;
        }
        
        .ct-scan-uploadSection  #myBar {
            width: 0%;
            height: 1.25em;
            background-color: #4CAF50;
            text-align: center;
            line-height: 1em;
            color: white;
        }

        .ct-scan-uploadSection .uploadSection-preview{
            padding: 0%;
            margin: 0%;
        }
        .ct-scan-uploadSection .uploadSection-preview img{
            width: 100%;
            border-radius: 0px 0px 10px 10px;
        }

        /* Analytics Page */
        .analytics-main{
        }
        .analytics-main h1{
            margin: 15px 0 5px 0px;
        }
        .analytics-main p{
            margin: 5px 0;
        }
    
        .analytics-main .card{
            width: 100%;
            min-height: 30vh;
        }
    
        .analytics-main .card img{
            width: 20%;
        }

               /* Covid-Impact Section */
               .impact-heading{
                margin-bottom: 30px;
            }
            .impact-heading h1{
                margin-bottom: 0px;
                padding: 0%;
                font-size: 1.75em;
            }
            .impact-heading p{
                margin-top: 0px;
                padding: 0%;
            }
            .economic-impact{
                margin-bottom: 30px;
            }
            .economic-impact h3{
                margin-bottom: 0px;
                padding: 0%;
                font-size: 1.5em;
            }
            .economic-impact p{
                margin-top: 0px;
                padding: 0%;
            }
            .health-impact{
                margin-bottom: 30px;
            }
            .health-impact h3{
                margin-bottom: 0px;
                padding: 0%;
                font-size: 1.5em
            }
            .health-impact p{
                margin-top: 0px;
                padding: 0%;
            }
    
        /* Data Sources Section */
        .data-sources-section{
            margin-bottom: 2em;
        }
        .data-sources-section h1{
            font-size: 1.875em;
        }
        .data-sources-section .intro{
            font-size: 1.5em;
            margin-bottom: 1em;
        }
        .data-sources-section .card-wrapper{
            padding: 0%;
            margin: 0%;
            display: flex;
            flex-wrap: wrap;
        }

        .data-sources-section .card-wrapper .card{
            padding: 0.5em;
            margin: 0em;
            width: 100%;
            flex-direction: column;
            transition: 0.4s ease-in;
        }
        .data-sources-section .card-wrapper .card:hover{
            transform: scale(1.05);

        }
        .data-sources-section .card .card-heading{
            padding: 0em;
            margin: 0%;
            width: 100%;
            display: flex;
        }

        .data-sources-section .card-wrapper .card .icon-div{
            margin: 0%;
            padding: 0%;
            display: flex;
            align-items: center;
        }
        .data-sources-section .card-wrapper .icon-div img{
            width: 100%;
            object-fit: cover;
        }
        .data-sources-section .card-wrapper .source-title-div{
            padding: 0%;
            margin: 0%;
            text-align: left;
            display: flex;
            align-items: flex-end;
        }
        .data-sources-section .card .card-title{
            font-size: 1.5em;
            font-weight: bold;
            margin: 0em 0em 0em 0.25em;
        }
        .data-sources-section .card .card-body{
            text-align: left;
            padding: 0em;
            margin: 0%;
            display: flex;
            flex-direction: column;
        }
        .data-sources-section .card-body .card-text{
            font-size: 1.325em;
            line-height: 1.25em;
            margin: 0.5em 0em;
        }
        .data-sources-section .card-body small{
            font-size: 1.125em;
            text-align: right;
        }
    
    
        /* Footer */
        footer .flex{
            flex-direction: row;
            align-content: center;
        }
        footer{
            text-align: center;
        }
        footer .flex div:first-child{
            margin-bottom: 0px;
        }
        footer .flex div:first-child p{
            margin: 0%;
            padding: 0%;
        }
        footer .flex div:first-child h1{
            margin: 0%;
            padding: 0%;
        }
        footer .social a{
            margin: 0 10px;
            color: var(--alt-white);
        }
}

/* Mobile */
@media  (max-width: 500px){
    body{
        padding-top: 3.5em;
    }
    
   /* Navbar Stylings */
        .navbar{
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            position: fixed;
            top: 0%;
            z-index: 100;
        }
        .navbar .wrapper {
            justify-content: space-between;
            align-items: center;
        }

        .navbar .navbar-brand{
            width: 30%;
        }
        .navbar .logo{
            width: 100%;
        }
        .navbar-nav a{
            padding: 5px;
            margin: 0 10px;
            width: fit-content;
        }

        .navbar .dropdown-menu{
            background-color: var(--primary-color);
            border: none;
        }
        .navbar .dropdown .dropdown-item:hover{
            background-color: var(--primary-color);
            color: var(--text-color);
            width: auto;
        }
        .navbar .dropdown:hover .dropdown-menu {
            display: block;
        }

        .navbar-nav a:hover{
            border-bottom: 2px solid var(--link-color);
        }


        /* mainContent Section */
        .mainContent{
            color: var(--text-color);
            margin: 0%;
            padding: 1em 0.25em;
            background: url(/assets/images/covidbg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            height: 100%;
        }
        .mainContent:before {
            content: "";
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background: rgba(0,0,0,0.8);
        }
        .mainContent h1{
            font-size: 1.75rem;
            /* color: var(--link-color); */
            font-weight: bold;
        }
        .mainContent p{
            margin: 5px 0;
            font-size: 1rem;
            /* color: var(--text-color); */
            font-weight: 600;
        }
        .mainContent a:hover{
            color: var(--link-color)
        }

        .mainContent-text{
            display: flex;
            flex-direction: column;
            animation: slideInFromLeft 1s ease-in;
            padding: 0em 0em 1em 0em;
            margin: 0%;
        }
        .mainContent-text h1{
            text-align: center;
        }
        .mainContent-text a{
            align-self: center;
            width: fit-content;
        }
        .mainContent-ctScan{
            animation: slideInFromRight 1s ease-in;
            align-items: center;
            padding: 1em 0.5em;
            margin: 0%;
        }
        .mainContent-ctScan #previewImage{
            max-width: 90%;
        }
        .mainContent-ctScan form{
            width: 100%;
            padding: 0em 0.5em;
        }
        .mainContent-ctScan p,h3{
            color: #000;
        }
        .mainContent-ctScan p{
            font-size: 1em;
            font-weight: normal;
            margin: 0%;
            padding: 0 0 1em 0;
        }
        .mainContent-ctScan .form-control {
            margin: 1.25em 0em;
            width: 100%;
            height: 100%;
            padding: 0%;
        }
        
        .mainContent-ctScan .form-control input[type='file'] {
            width: 100%;
            margin: 0;
            font-size: 1em;
            padding: 0em;
        }
        
        .mainContent-ctScan input:focus {
            outline: none;
        }

        .mainContent-ctScan #myProgress {
            width: 100%;
            background-color: #ddd;
            margin: 1em 0em;
        }
        
        .mainContent-ctScan  #myBar {
            width: 0%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
        }

        /* CT-Scan Page */
        .ct-scan-heading{
            margin: 1.5em 0em;
        }
        .ct-scan-heading p{
            font-size: 1em;
            font-weight: bold;
        }
        .ct-scan-heading h1{
            font-size: 1.75em;
            font-weight: bold;
        }
        .ct-scan-uploadSection{
            margin: 1em 0em 3em 0em;
            /* background-color: whitesmoke; */
        }
        .ct-scan-uploadSection .flex{
            flex-direction: row;
        }
        .ct-scan-uploadSection .card{
            padding: 0em;
        }
        .ct-scan-uploadSection .uploadSection-upload {
            padding: 0.5em 0.5em;
        }
        .ct-scan-uploadSection .uploadSection-upload .card {
            padding: 1em;
        }
        .ct-scan-uploadSection .uploadSection-upload .form-control {
            margin: 0em 0em 1em 0em;
            width: 100%;
            height: 100%;
            padding: 0%;
        }
        .ct-scan-uploadSection .uploadSection-upload .form-control input[type= 'file'] {
            padding: 0em;
            width: 100%;
        }
        .ct-scan-uploadSection .uploadSection-upload input[type= 'submit'] {
            width: fit-content;
            align-self: center;
            padding: 0.25em 0.5em;
        }
        .ct-scan-uploadSection #myProgress {
            width: 100%;
            background-color: #ddd;
            margin: 0.5em 0em;
        }
        
        .ct-scan-uploadSection  #myBar {
            width: 0%;
            height: 1.25em;
            background-color: #4CAF50;
            text-align: center;
            line-height: 1em;
            color: white;
        }

        .ct-scan-uploadSection .uploadSection-preview{
            padding: 0%;
            margin: 0%;
        }
        .ct-scan-uploadSection .uploadSection-preview img{
            width: 100%;
            border-radius: 0px 0px 10px 10px;
        }
        .ct-scan-result h3{
            font-size: 1.5em;
        }
        .ct-scan-result p{
            font-size: 1em;
            font-weight: bold;
        }
        /* Analytics Page */
        .analytics-main{
            background-color: var(--body-bg);
        }
        .analytics-main h1{
            margin: 15px 0 0px 0px;
            font-size: 1.75em;
            font-weight: bold;
        }
        .analytics-main p{
            margin: 10px 0 0px 0px;
            font-size: 1em;
            font-weight: bold;
        }
        .analytics-main .card{
            width: 100%;
            min-height: 20vh;
        }

        .analytics-main .card img{
            width: 20%;
        }

        /* Covid-Impact Section */
        .impact-heading{
            margin-bottom: 30px;
        }
        .impact-heading h1{
            margin-bottom: 0px;
            padding: 0%;
            font-size: 1.75em;
        }
        .impact-heading p{
            margin-top: 0px;
            padding: 0%;
            font-size: 1em;
            font-weight: bold;
        }
        .economic-impact{
            margin-bottom: 30px;
        }
        .economic-impact h3{
            margin-bottom: 0px;
            padding: 0%;
            font-size: 1.5em;
        }
        .economic-impact p{
            margin-top: 0px;
            padding: 0%;
            font-size: 1em;
        }
        .health-impact{
            margin-bottom: 30px;
        }
        .health-impact h3{
            margin-bottom: 0px;
            padding: 0%;
            font-size: 1.5em
        }
        .health-impact p{
            margin-top: 0px;
            padding: 0%;
            font-size: 1em;
        }


        /* Data Sources Section */
        .data-sources-section{
            margin-bottom: 2em;
        }
        .data-sources-section h1{
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 0.75em;
        }
        .data-sources-section .intro{
            font-size: 1.125em;
            margin: 0.5em 0em;
            font-weight: bold;
        }
        .data-sources-section .card-wrapper{
            padding: 0%;
            margin: 0%;
            display: flex;
            flex-wrap: wrap;
        }

        .data-sources-section .card-wrapper .card{
            padding: 0.5em;
            margin: 0em;
            width: 100%;
            flex-direction: column;
            transition: 0.4s ease-in;
        }
        .data-sources-section .card-wrapper .card:hover{
            transform: scale(1.05);

        }
        .data-sources-section .card .card-heading{
            padding: 0em;
            margin: 0%;
            width: 100%;
            display: flex;
        }

        .data-sources-section .card-wrapper .card .icon-div{
            margin: 0%;
            padding: 0%;
            display: flex;
            align-items: center;
        }
        .data-sources-section .card-wrapper .icon-div img{
            width: 90%;
            object-fit: cover;
        }
        .data-sources-section .card-wrapper .source-title-div{
            padding: 0%;
            margin: 0%;
            text-align: left;
            display: flex;
            align-items: flex-end;
        }
        .data-sources-section .card .card-title{
            font-size: 1.25em;
            font-weight: bold;
            margin: 0em 0em 0em 0.25em;
        }
        .data-sources-section .card .card-body{
            text-align: left;
            padding: 0em;
            margin: 0%;
            display: flex;
            flex-direction: column;
        }
        .data-sources-section .card-body .card-text{
            font-size: 1em;
            line-height: 1.125em;
            margin: 0.5em 0em;
            font-weight: 600;
        }
        .data-sources-section .card-body small{
            font-size: 1em;
            text-align: right;
            font-weight: bold;
        }

        /* Project Overview Section */
        .project-overview-content{
            margin: 1.5em 0em;
        }
        .project-overview-content h1{
            font-size: 1.5em;
            font-weight: bold;
        }
        .project-overview-content p{
            margin-bottom: 1em;
            font-size: 1em;
        }

        /* Team Members Section */
        .team-members-heading h1{
            font-size: 1.5em;
            font-weight: bold;
        }

        /* Footer */
        footer{
            text-align: center;
            padding: 0.25em 0em;
            /* height: 10vh; */
        }
        footer .social a{
            margin: 0 15px;
            color: var(--alt-white);
        }
        footer .social i{
            width: 0.25em;
        }
        footer .flex{
            justify-content: space-evenly;
        }
        .footer .div{
            padding: 0%;
            margin: 0%;
        }
        .footer h4, p{
            margin: 0em;
            padding: 0%;
        }
        .footer h4{
            font-size: 1em;
        }

}

@media (max-width:320px){

    /* Navbar section */
    .navbar a{
        font-size: 0.375rem;
        font-weight: bold;
    }

    /* footer section */
    footer .flex div:first-child p{
        font-size: 0.75rem;
    }
    footer .flex div:first-child h1{
        font-size: 1rem;
    }
    footer .social a{
        font-size: 0.5rem;
    }
}