
    <!-- Analytics Content -->
    <section class="wrapper analytics-infection-death-statistics flex">
      <h1 class="text-center">Infection and Death Statistics</h1>

      <h5>
        === COVID-19 Statistics Analysis ===
      </h5>

      <h6>
        - COVID-19 infection / Deaths Percentile per category relation (Gender, Age, and relation when having other diseases)  -
      </h6>

      <p>
        Below detailed Deaths Percentile per category results are based on covid19-patient-precondition-dataset which was released by the Mexican government. It include 566602 entries which is a huge number of anonymised patient and high accurate result
      </p>


      <ul>
        <p>COVID-19 Highest risk are:</p>
        <li>
          1.	Patient age 75 or more, increasing death percentile to 30%. (Mexico death percentile is 6%).
        </li>
        <li>
          2.	With Chronic kidney disease (renal chronic), increasing death percentile to 25%. 
        </li>
        <li>
          3.	With Chronic obstructive pulmonary disease (copd), inflammatory lung disease, increasing death percentile to 22%. 
        </li>
        <li>
          4.	With Diabetes disease, increasing death percentile to 19%. 
        </li>
        <li>
          5.	With Cardiovascular disease, increasing death percentile to 17%. 
        </li>
      </ul>

      <div>
        <img src="/assets/images/analytics/infection-death/infection-death1.png" alt="">
      </div>

      <ul>
        <p>Below Detailed Graphs Summaries:</p>
        <li>1.	COVID-19 Infect both Genders equally, but double deaths Between Males than Females. (per infection count)
        </li>
        <li>2.	Mexico Highest Infections, more than 35%, are between 15-30 age group. And highest deaths are between more 75+ Age group and 0-15 age group (together include more than 75% of deaths though less than 15% of infections)! Which show high deaths between kids in Mexico. 
        </li>
        <li>3.	Tobacco increase COVID-19 Death risk by 0.62%.
        </li>
        <li>4.	Having other disease highly increase COVID-19 death risks. Increase by 20-24% in case of Renal Chronic or COPD.
        </li>
      </ul>

      <div>
        <img src="/assets/images/analytics/infection-death/infection-death2.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death3.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death4.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death5.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death6.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death7.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death8.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death9.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death10.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death11.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death12.png" alt="">
      </div>
      <div>
        <img src="/assets/images/analytics/infection-death/infection-death13.png" alt="">
      </div>


      

      <!-- <div class="embedded-file">
        <script src="https://gist.github.com/fadimasoud/772ca4052fc38605792225bd4bc14d1a.js"></script>
      </div> -->

    </section>
