<section class="wrapper team-members-heading">
  <h1 class="text-center">TEAM MEMBERS PAGE</h1>
</section>

<section class="wrapper card2 flex" id="card2">
  <div class="card-container ">
    
    <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/v1605724976/tolulade-removebg-preview_p1rxh5.png" alt="user" />
    <h3>Tolulade Ademisoye</h3>
    <h6>Data Scientist & Team Lead</h6>
    
    <div class="social-icons">
      <a href="https://github.com/Reispar" target="blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/tolulade-ademisoye-61560a5a/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://twitter.com/Tolulade_ato" target="blank"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  
  <div class="card-container ">
    
    <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/v1605620197/Fadi_Remotexec_v0gsak.png" alt="user" />
    <h3>Fadi Masoud</h3>
    <h6>Deep Learning Engineer & Data-Scientist</h6>
    <div class="social-icons">
      <a href="https://github.com/fadimasoud" target="blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/fadi-masoud-5b4b8086/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://www.kaggle.com/fadimasoud" target="blank"><i class="fab fa-kaggle fa-2x"></i></a>
    </div>
  </div>

  <div class="card-container ">
    
    <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/v1605678303/siham_i2e978.jpg" alt="user" />
    <h3>Siham Agzennay</h3>
    <h6>Economist Analyst & Data Scientist</h6>
    
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/siham-agzennay/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>

  <div class="card-container ">
    
    <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/v1605800344/TOBI_PASSPORT_ydunwc.png" alt="user" />
    <h3>Oluwatobi Akintunlese</h3>
    <h6>Backend Developer & Data Scientist</h6>
    
    <div class="social-icons">
      <a href=" https://github.com/oluwatobi1" target="blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/akintunlese-oluwatobi/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://twitter.com/AkintunleseTobi" target="blank"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>

  <div class="card-container ">
    
    <img class="round" src="https://res.cloudinary.com/tamsay/image/upload/v1605724975/longe_temitope-removebg-preview_jpp0pk.png" alt="user" />
    <h3>Longe Temitope</h3>
    <h6>Frontend Engineer</h6>
    
    <div class="social-icons">
      <a href="https://github.com/tamsay" target="blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://twitter.com/longetope" target="blank"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
  
</section>
