
<div class="container-fluid">


    <section class="wrapper team-members-heading">
        <h1 class="text-center">TEAM MEMBERS PAGE</h1>
    </section>

    <section class="wrapper team-members">
        <div class="content-wrapper">

            <div class="news-card">

                <img src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                    alt="" class="news-card__image">
                <div class="news-card__text-wrapper">
                    <h2 class="news-card__title">Member 1</h2>
                    <div class="news-card__role">Programmer, Scientist, Engineer</div>
                    <div class="news-card__details-wrapper">
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>

                    </div>
                </div>
            </div>

            <div class="news-card">

                <img src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                    alt="" class="news-card__image">
                <div class="news-card__text-wrapper">
                    <h2 class="news-card__title">Member 2</h2>
                    <div class="news-card__role">Programmer, Scientist, Engineer</div>
                    <div class="news-card__details-wrapper">
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>

                    </div>
                </div>
            </div>

            <div class="news-card">

                <img src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                    alt="" class="news-card__image">
                <div class="news-card__text-wrapper">
                    <h2 class="news-card__title">Member 3</h2>
                    <div class="news-card__role">Programmer, Scientist, Engineer</div>
                    <div class="news-card__details-wrapper">
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>

                    </div>
                </div>
            </div>

            <div class="news-card">

                <img src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                    alt="" class="news-card__image">
                <div class="news-card__text-wrapper">
                    <h2 class="news-card__title">Member 4</h2>
                    <div class="news-card__role">Programmer, Scientist, Engineer</div>
                    <div class="news-card__details-wrapper">
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>

                    </div>
                </div>
            </div>

            <div class="news-card">

                <img src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                    alt="" class="news-card__image">
                <div class="news-card__text-wrapper">
                    <h2 class="news-card__title">Member 5</h2>
                    <div class="news-card__role">Programmer, Scientist, Engineer</div>
                    <div class="news-card__details-wrapper">
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>

                    </div>
                </div>
            </div>

            <div class="news-card">

                <img src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                    alt="" class="news-card__image">
                <div class="news-card__text-wrapper">
                    <h2 class="news-card__title">Member 6</h2>
                    <div class="news-card__role">Programmer, Scientist, Engineer</div>
                    <div class="news-card__details-wrapper">
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="wrapper card2 flex" id="card2">
        <div class="card-container ">

            <img class="round"
                src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                alt="user" />
            <h3>Member 1</h3>
            <h6>Developer, Scientist, Engineer</h6>

            <div class="social-icons">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>

        <div class="card-container ">

            <img class="round"
                src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                alt="user" />
            <h3>Member 1</h3>
            <h6>Developer, Scientist, Engineer</h6>

            <div class="social-icons">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>

        <div class="card-container ">

            <img class="round"
                src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                alt="user" />
            <h3>Member 1</h3>
            <h6>Developer, Scientist, Engineer</h6>

            <div class="social-icons">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>

        <div class="card-container ">

            <img class="round"
                src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                alt="user" />
            <h3>Member 1</h3>
            <h6>Developer, Scientist, Engineer</h6>

            <div class="social-icons">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>

        <div class="card-container ">

            <img class="round"
                src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                alt="user" />
            <h3>Member 1</h3>
            <h6>Developer, Scientist, Engineer</h6>

            <div class="social-icons">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>

        <div class="card-container ">

            <img class="round"
                src="https://res.cloudinary.com/tamsay/image/upload/c_crop,w_2768/v1604719036/profile-image.jpg"
                alt="user" />
            <h3>Member 1</h3>
            <h6>Developer, Scientist, Engineer</h6>

            <div class="social-icons">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>

    </section>

    <!-- Footer -->

    <footer class="footer">

        <div class="wrapper flex">
            <div>
                <h4>Reispar Technologies</h4>
                <p>Copyright &copy; 2020</p>
            </div>

            <div class="social">
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </div>

        </div>
    </footer>
</div>
