
 <section class="wrapper analytics-main flex">
    <h1 class="text-center">INTERVENTION EFFICIENCY</h1>    
  
    <div class="text-center">
      <a href="assets\Visualization_With_Seaborn.html">
        <h1>View notebook / Visualizations</h1>
      </a>
    </div>
</section>

    
    <code data-gist-id="f663a58ba8694a8b352b5f5f3ebcedb1"></code>
    
 <section class="wrapper analytics-main flex">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti debitis asperiores ullam facilis, ratione deleniti ipsa repellat nesciunt, ea doloremque pariatur nihil officiis cumque alias! Enim eum laboriosam doloribus voluptatem. <br><br>
    Nesciunt quas necessitatibus nulla facere laudantium recusandae commodi iusto reprehenderit numquam! Eligendi laboriosam, dolore illum blanditiis praesentium maiores voluptatem amet dignissimos, deserunt voluptatibus optio. Repudiandae iste ipsum vitae labore illum.<br><br>
    </p>

  

  </section>

