<section class="wrapper analytics-intervention-efficiency flex">
  <h1 class="text-center">Intervention Efficiency</h1>

  <h2>COVID19 Lockdown / Face mask Intervention</h2>

  <div class="flex row all-intervention">
    <div class="col-md-6">
      <img src="/assets/images/analytics/intervention-efficiency/intervention1.png" alt="">
    </div>
    <div class="col-md-6">
      <img src="/assets/images/analytics/intervention-efficiency/intervention2.png" alt="">
    </div>
    <div class="col-md-6">
      <img src="/assets/images/analytics/intervention-efficiency/intervention3.png" alt="">
    </div>
    <div class="col-md-6">
      <img src="/assets/images/analytics/intervention-efficiency/intervention4.png" alt="">
    </div>
  </div>

  <div>
    <h5>
      Reference study:
    </h5>
    <h6>
      The New York Times newsletter email;<br> "Coronavirus Briefing: A mask experiment in Kansas" on October 26, 2020.
    </h6>

    <p>
      <strong>The Power of Mask Mandates</strong>
    </p>
    <p>
      Masks is an efficient and cost-effective way to help prevent the spread of the coronavirus.
      Take Kansas, <a href="https://www.nytimes.com/live/2020/10/26/world/covid-19-coronavirus-updates/kansas-counties-with-mask-mandates-had-half-the-rate-of-new-infections-a-study-finds?campaign_id=154&emc=edit_cb_20201026&instance_id=23509&nl=coronavirus-briefing&regi_id=112915182&segment_id=42355&te=1&user_id=e029ca961209265a49fe188ca858266a">where a real-world experiment in face coverings emerged this summer</a>. In early July, Gov. Laura Kelly, a Democrat, issued a statewide mask order, but was forced to let counties opt out of it under a law limiting her emergency management powers. <br><br>
      Only 20 of the state’s 105 counties enforced the order, which required residents to wear masks in public. Those 20 counties saw half as many new coronavirus infections as the counties that did not have the mandate in place, <a href="https://mediahub.ku.edu/media/Masks/1_49bb9aid?campaign_id=154&emc=edit_cb_20201026&instance_id=23509&nl=coronavirus-briefing&regi_id=112915182&segment_id=42355&te=1&user_id=e029ca961209265a49fe188ca858266a">according to a new study from the University of Kansas.</a>  <br><br>
      Cellphone-tracking data from the University of Maryland showed no differences in how often people left home in the counties with or without mask mandates, so it seemed likely that the masks made the difference. <br><br>
      Experts say it’s part of a countrywide trend: Localities that impose mask mandates often see fewer cases, fewer hospitalizations, fewer deaths and lower test-positivity rates than nearby localities that do not. <br><br>
      Other studies have turned up similar results in Alabama, Oklahoma, South Carolina and Texas. A recently published report from the Centers for Disease Control and Prevention found <a href="https://www.cdc.gov/mmwr/volumes/69/wr/mm6940e3.htm?campaign_id=154&emc=edit_cb_20201026&instance_id=23509&nl=coronavirus-briefing&regi_id=112915182&segment_id=42355&te=1&user_id=e029ca961209265a49fe188ca858266a">a 75 percent drop in coronavirus cases in Arizona</a>  less than a month after mask-wearing became enforced and bars and gyms were shuttered. <br><br>
      Dataset used: <br>
      <a href="https://covidtracking.com">The COVID Tracking Project  -> go_to_download_page</a>
    </p>
    <br><br>

    <h2>Graphs</h2>

    <h3>California</h3>
    <div class="flex row">
      <div class="col-md-6">
        <img src="/assets/images/analytics/intervention-efficiency/intervention5_california1.png" alt="">
      </div>
      <div class="col-md-6">
        <img src="/assets/images/analytics/intervention-efficiency/intervention6_california2.png" alt="">
      </div>
    </div>

    <h3>Texas</h3>
    <div class="flex row">
      <div class="col-md-6">
        <img src="/assets/images/analytics/intervention-efficiency/intervention7_texas1.png" alt="">
      </div>
      <div class="col-md-6">
        <img src="/assets/images/analytics/intervention-efficiency/intervention8_texas2.png" alt="">
      </div>
    </div>

    <h3>Illinois</h3>
    <div class="flex row">
      <div class="col-md-6">
        <img src="/assets/images/analytics/intervention-efficiency/intervention9_illinois1.png" alt="">
      </div>
      <div class="col-md-6">
        <img src="/assets/images/analytics/intervention-efficiency/intervention10_illinois2.png" alt="">
      </div>
    </div>

  </div>
  

  <!-- <div class="embedded-file">
    <script src="https://gist.github.com/fadimasoud/f663a58ba8694a8b352b5f5f3ebcedb1.js"></script>
  </div> -->

</section>
