<section class="wrapper analytics-main flex">
  <h1 class="text-center">COVID19 Lockdown/Face mask Intervention Efficiency</h1>
</section>

<!-- the images goes here -->
<div class="wrapper flex row">
  <div class="col-sm-12 col-md-6">
    <img src="assets\images\covidIntervention1.png" alt="opps">
  </div>

  <div class="col-sm-12 col-md-6">
    <img src="assets\images\covidIntervention2.png" alt="opps">

  </div>
</div>
<br>

<div class="wrapper flex row">
  <div class="col-sm-12 col-md-6">
    <img src="assets\images\covidIntervention3.png" alt="opps">
  </div>

  <div class="col-sm-12 col-md-6">
    <img src="assets\images\covidIntervention4.png" alt="opps">

  </div>
</div>
<!-- images end -->


<section class="wrapper">
  <div>
    <h1>Reference study:</h1>
     <h3>The New York Times newsletter email; "Coronavirus Briefing: A mask experiment in Kansas" on October 26, 2020. </h3> 
    The power of mask mandates.
    Masks is an efficient and cost-effective way to help prevent the spread of the coronavirus.
    Take Kansas,
    <a href=""> where a real-world experiment in face coverings emerged this summer.</a> In early July, Gov. Laura Kelly,
    a Democrat, issued a statewide mask order, but was forced to let counties opt out of it under a law limiting her
    emergency management powers.
    Only 20 of the state’s 105 counties enforced the order, which required residents to wear masks in public. Those 20
    counties saw half as many new coronavirus infections as the counties that did not have the mandate in place, according
    to
    <a href=""> a new study from the University of Kansas.</a>
    Cellphone-tracking data from the University of Maryland showed no differences in how often people left home in the
    counties with or without mask mandates, so it seemed likely that the masks made the difference.
    Experts say it’s part of a countrywide trend: Localities that impose mask mandates often see fewer cases, fewer
    hospitalizations, fewer deaths and lower test-positivity rates than nearby localities that do not.
    Other studies have turned up similar results in Alabama, Oklahoma, South Carolina and Texas. A recently published
    report from the Centers for Disease Control and Prevention found a
    <a href=""> 75 percent drop in coronavirus cases in Arizona </a>less than a month after mask-wearing became enforced
    and bars and gyms were shuttered.
    Dataset used: 2_The COVID Tracking Project 
    <a href="https://colab.research.google.com/drive/1KaatH2g4BTbCz5v7CQmZfMJPXZfwO3zC#scrollTo=T7OIwpSLrL7w"> -> go_to_download_page</a>
  
  </div>
  <br>

</section>



<!-- 
<section class="wrapper analytics-main flex">
  <h1 class="text-center">Source Code</h1>
</section>

<code data-gist-id="f663a58ba8694a8b352b5f5f3ebcedb1"></code> 

<section class="wrapper analytics-main flex">

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti debitis asperiores ullam facilis, ratione
    deleniti ipsa repellat nesciunt, ea doloremque pariatur nihil officiis cumque alias! Enim eum laboriosam doloribus
    voluptatem. <br><br>
    Nesciunt quas necessitatibus nulla facere laudantium recusandae commodi iusto reprehenderit numquam! Eligendi
    laboriosam, dolore illum blanditiis praesentium maiores voluptatem amet dignissimos, deserunt voluptatibus optio.
    Repudiandae iste ipsum vitae labore illum.<br><br>
  </p>

</section> -->