<section class="mainContent">
    <div class="wrapper flex row">
        <div class="mainContent-text col-sm-12 col-md-8">
            <h1 class="">Covid-19</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, temporibus voluptatum esse cum
                consequatur sed velit modi in alias debitis dignissimos deserunt aliquam pariatur repellat corrupti nisi
                eaque cupiditate dolor! Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br><br>

                Dolore, temporibus voluptatum esse cum consequatur sed velit modi in alias debitis dignissimos deserunt
                aliquam pariatur repellat corrupti nisi eaque cupiditate dolor! <br><br>

                Dolore, temporibus voluptatum esse cum consequatur sed velit modi in alias debitis dignissimos deserunt
                aliquam pariatur repellat corrupti nisi eaque cupiditate dolor!</p>
            <a href="analytics.html" class="btn btn-primary">Read More</a>
        </div>


        <div class="mainContent-ctScan card col-sm-12 col-md-4">
            <h3>CT-Scan Form</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis nulla iusto minus tenetur, in
                aspernatur quas officiis?</p>
            <form name="imageUpload" id="ctScanForm">

                <img src="https://via.placeholder.com/200x100/000000/FFFFFF/?text=upload image here" alt="placeholder"
                    id="previewImage">

                <div class="form-control">
                    <input type="file" name="Choose Image" class="" id="chooseImage" [disabled]="true"> </div>

                <a routerLink="/images" class="btn btn-primary">CT-Scan</a>

            </form>
        </div>
    </div>
</section>