<section class="mainContent">
    <div class="wrapper flex row">
        <div class="mainContent-text col-sm-12 col-md-8">
            <h1 class="">Covid-19</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, temporibus voluptatum esse cum
                consequatur sed velit modi in alias debitis dignissimos deserunt aliquam pariatur repellat corrupti nisi
                eaque cupiditate dolor! Lorem ipsum, dolor sit amet consectetur adipisicing elit.

                Dolore, temporibus voluptatum esse cum consequatur sed velit modi in alias debitis dignissimos deserunt
                aliquam pariatur repellat corrupti nisi eaque cupiditate dolor!

                Dolore, temporibus voluptatum esse cum consequatur sed velit modi in alias debitis dignissimos deserunt
                aliquam pariatur repellat corrupti nisi eaque cupiditate dolor!</p>
            <a href="analytics.html" class="btn btn-primary">Read More</a>
        </div>

        <div class="mainContent-ctScan card col-sm-12 col-md-4">
            <h3>CT-Scan Form</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos blanditiis nulla iusto minus tenetur, in
                aspernatur quas officiis?</p>
            <form name="imageUpload" id="ctScanForm">

                <img src="https://via.placeholder.com/200x100/000000/FFFFFF/?text=upload image here" alt="placeholder"
                    id="previewImage">

                <div class="form-control">

                </div>
                <a routerLink="/images" class="btn btn-primary">CT-Scan</a>

            </form>
        </div>
    </div>
</section>



<div class="container">



    <div class="row">
        <div class="col align-self-center">
            <div class="card mb-3">
                <img class="card-img-top"
                    src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22739%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20739%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1756f10548f%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A37pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1756f10548f%22%3E%3Crect%20width%3D%22739%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22274.8666687011719%22%20y%3D%22106.5%22%3E739x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                    alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Covid19 Analysis</h3>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div><br>

    </div>

    <div class="row">
        <div class="col align-self-center">
            <div class="card mb-3">
                <img class="card-img-top"
                    src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22739%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20739%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1756f10548f%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A37pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1756f10548f%22%3E%3Crect%20width%3D%22739%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22274.8666687011719%22%20y%3D%22106.5%22%3E739x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                    alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Economic Impact </h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolorem illum
                        repellat inventore accusamus ex, soluta, nihil assumenda corporis minima culpa et porro aperiam
                        quod molestiae. Sed delectus ipsam ipsa.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col align-self-center">
            <div class="card mb-3">
                <img class="card-img-top"
                    src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22739%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20739%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1756f10548f%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A37pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1756f10548f%22%3E%3Crect%20width%3D%22739%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22274.8666687011719%22%20y%3D%22106.5%22%3E739x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                    alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">Public Health</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At optio quidem soluta
                        sunt assumenda doloremque labore velit suscipit placeat laboriosam earum, distinctio maiores
                        nostrum incidunt dolores dignissimos aliquam quo. Eum?</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>