     <!-- Main Content -->
     <section class="mainContent wrapper">
        <div class="mainContent-text col-sm-12 col-md-12 flex">
            <h1>Introduction</h1>
            <p>This website is created for the c3.ai competition. On this website you can find the following: </p> <br>

              <p><i class="fas fa-hand-point-right"></i> CT-scan</p>
              <ul>
                <li>Upload a chest CT-scan image to be investigated by our AI algorithm for COVID-19 detection. <a routerLink="/Images"><i class="fas fa-sign-in-alt"></i></a></li>
              </ul>

              <p><i class="fas fa-hand-point-right"></i> Analytics</p>
              <ul>
                <li><strong>Correlation</strong>: Look at correlation between covid-19 and temperature, humidity and life expectancy. New York, Illinois and California are taken as examples. <a routerLink="/Analytics-Correlation"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><strong>Intervention</strong>: Look whether lockdown or face mask intervention has (positive) effect on the spread of covid-19. Again, New York, Illinois and California are taken as examples. <a routerLink="Analytics-Intervention"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><strong>Summary</strong>: This page shows the infection and death percentiles per category relation (gender, age and other diseases). It includes over half million anonymised patient data released by the Mexican government. <a routerLink="Analytics-Statistics"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><strong>Forecasting</strong>: A forecast is made for multiple countries on the status of control. Countries reaching a control level of 100 are in control wheres countries reaching a control level of 0 are not in control. <a routerLink="Analytics-Forecasting"><i class="fas fa-sign-in-alt"></i></a></li>
              </ul>
                                  
              <p><i class="fas fa-hand-point-right"></i> Impact</p>
              <ul>
                <li><strong>Dashboard</strong>: This page contains a dashboard where instructions are given on how to use the dashboard. Information that can be deducted are the number of deaths, confirmed and tested cases, but also temperature, mobility in parks, pharmacy, groceries and retail. <a routerLink="Covid-Impact"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><strong>Policy Impact</strong>: On this page an example of California and Illinois are given to explain how the graphs can be read. <a routerLink="Impact-Policy"><i class="fas fa-sign-in-alt"></i></a></li>
              </ul>

              <p><i class="fas fa-hand-point-right"></i> Data Sources</p>
              <ul>
                <li>A summation of all the used data sources. <a routerLink="Data-Sources"><i class="fas fa-sign-in-alt"></i></a></li>
              </ul>

              <p><i class="fas fa-hand-point-right"></i> Project Overview</p>
              <ul>
                <li><strong>Overview</strong>: A summary of the project execution as a team with deliverables and learnings. <a routerLink="Project-Overview"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><strong>Results</strong>: The results that we gathered from executing our project. <a routerLink="Project-Result"><i class="fas fa-sign-in-alt"></i></a></li>
              </ul>

              <p><i class="fas fa-hand-point-right"></i> Team Members</p>
              <ul>
                <li>Take a look at our team members and the roles they played during the project. <a routerLink="Team-Members"><i class="fas fa-sign-in-alt"></i></a></li>
              </ul>                   
              
            <a routerLink="Project-Overview" class="btn btn-primary">Read More</a>
        </div>

</section>