<section class="wrapper project-overview-content">

  <h1 class="text-center">PROJECT OVERVIEW</h1>

  <p>
    The ongoing pandemic of Coronavirus Disease (COVID19) has caused a great deal of global system reawakening across multiple sectors, industries and works of life. Thanks to data science and rich open source database systems on the pandemic, our team (Team Reispar) analysed a variety of rich datasets across multiple data categories from C3.ai Covid19 unified data and and other data sources as listed in our <a href="https://github.com/Reispar-Analytics-Academy/TeamReispar-C3DataHackathonSolution">Git Repository</a> and data sources page. <br><br>

      Identifying certain challenges that resulted from the pandemic was a first point of call, with over 54.2 million confirmed cases and over 1.3 million deaths across the world, we (Team Reispar) knew that we had limited time in preferring a solution that would aid in the following areas;</p><br>

<ol>
<li>Applying machine learning/AI methods to mitigate the spread of COVID-19
</li>
<li>Modeling, simulation, prediction of COVID-19 propagation and efficacy of interventions
</li>
<li>Improving societal resilience in response to the spread of the pandemic
</li>
<li>Broader efforts in biomedicine, infectious disease modeling, response logistics and optimization, public health, tools, and methodologies around the containment of infectious diseases, and response to pandemics so as to be better prepared for future infectious disease response.
</li>
</ol>

<p>
Our project solution was developed by a diverse and rich team across three continents of the world, who came together using remote technology sources in searching for valuable insights hidden behind rich datasets. The nature of solution tailors around understanding;
</p>

<ul>
<li>Economic and Public health benefits of our solution
</li>
<li>Government Policy framework and response time
</li>
<li>Intervention Efficiency, Infection and  Death Statistics
</li>
<li>Possible identification of a covid19 patient via CT Scan imaging using Deep Learning techniques
</li>
<li>Covid19 Forecasting and Correlation
</li>
</ul>


<p>
Our results showed revealing insights on the virus across several countries which we analysed, we also took a look at the recent countries in second (2nd) lockdown in comparison to Taiwan who became a marvel of the world as they reported 200 days without any Covid-19 case. <br><br>
Though the CT Scan deep learning project is still in experimentation, we are positive that these analytics and analysis would aid in a global collaboration towards tackling the virus or any other similar diseases. 
</p>


      
</section>