<br>

<br>
<div class="row justify-content-md-center">    
  <div class="col-md-auto">
    <h3>Upload CTScan Image</h3>
  </div>
</div>

<hr>


<div class="container jumbotron">

  <div class="row justify-content-md-center">    
    <div class="col-md-auto">
      <label for="name">Name Field </label>
      <input type="text" id="name" (change)="onTextchange($event)">      
    </div>
  </div>

  <div class="row justify-content-md-center">    
    <div class="col-md-auto">
      <input type="file" (change)="onImagechange($event)">
    </div>
  </div>

<br>
  <div class="row justify-content-md-center">   
    <div class="col-md-auto">
      <button class="btn btn-primary" [disabled]="!image" (click)="newImage()"> Upload</button>
    </div>
  </div>

  <div class="progress" *ngIf="progress">
    <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
  </div>

  <br><br>
  <div class="row justify-content-md-center">   
    <div class="col-md-auto">
 
  <div *ngIf="message=='Upload Completed'" class="alert alert-success" role="alert">
    {{ message }}
  </div>
  <div *ngIf="message=='Upload failed'" class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  </div>
  </div>

</div>