<nav class="navbar navbar-expand-lg wrapper">
  <a class="navbar-brand" href="#"><img class="logo" src="assets/images/reisparlogo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>      

      <li class="nav-item">
        <a routerLink="/Images" class="nav-link">CT-Scan</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Covid Analytics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/Analytics-Intervention" class="dropdown-item" href="">Intervention efficiency</a>
          <a routerLink="/Analytics-Correlation" class="dropdown-item" href="">Correlation with COVID-19</a>
          <a routerLink="/Analytics-Statistics" class="dropdown-item" href="">COVID-19 infection and death statistics</a>
          <a routerLink="/Analytics-Forecasting" class="dropdown-item" href="">COVID-19 forecasting</a>
        </div>
      </li>

      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Covid-Impact [Economic]
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/Covid-Impact" class="dropdown-item" href="">Economic Impact</a>
          <a routerLink="/Covid-Impact" class="dropdown-item" href="">Public Health Impact</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a routerLink="/Data-Sources" class="nav-link" href="">Covid-Impact [Policy]</a>
    </li>

      <li class="nav-item">
          <a routerLink="/Data-Sources" class="nav-link" href="">Data Sources</a>
      </li>
      <li class="nav-item">
          <a routerLink="Team-Members" class="nav-link" href="">Team Members</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<router-outlet></router-outlet>