<nav class="navbar navbar-expand-md  navbar-light bg-light">
  <a class="navbar-brand" href="#">Reispar Tech</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/images" class="nav-link" href="#">Covid 19 Analysis</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Economic Impact <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Public Health</a>
      </li>
     
      <li class="nav-item active">
        <a class="nav-link" href="#">Data Sources <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team Members </a>
      </li>
      
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">FeedBack</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>