<div class="container-fluid">



  <!-- Analytics Content -->
  <section class="wrapper analytics-covid-correlation flex">

    <h1 class="text-center">COVID-19 Correlation</h1>

    <h6>
      === COVID-19 Statistics Analysis ===
    </h6>

    <p>
      >> COVID-19 relations with Temperature, humidity and Life-Expectancy.
    </p>
    <p>
      >> Some graphs with real life statistics on multiple US cities
    </p>

    <h6>
      === COVID-19 Shows Strong spread relation with Temperature ===
    </h6>

    <ul>
      <li>
        1 - Less than 15 Celsius degree Temperature Average (5-20) (1st-year-quarter(1st-4-months)) for all High
        COVID-19 spread Countries (more than 20000 cases) - one irregular value in Brazil were no Curfew or social
        distances procedures applied
      </li>
      <li>
        2 - More than 18 Celsius degree Temperature Average(1st-year-quarter(1st-4-months)) for 85% of countries with
        low COVID-19 spread (less than 1000 confirmed cases)
      </li>
    </ul>

    <div>
      <img src="/assets/images/analytics/covid-correlation/correlation1.png" alt="">
    </div>

    <div>
      <img src="/assets/images/analytics/covid-correlation/correlation2.png" alt="">
    </div>

    <h2>Newyork Example</h2>

    <div class="flex row">
      <div class="col-md-6">
        <img src="/assets/images/analytics/covid-correlation/correlation3_newyork1.png" alt="">
      </div>

      <div class="col-md-6">
        <img src="/assets/images/analytics/covid-correlation/correlation4_newyork2.png" alt="">
      </div>
    </div>

    <br><br>
    <h6>
      === COVID-19 Shows Strong spread/Deaths relation with Life Expectancy in Country ===
    </h6>

    <ul>
      <li>
        1 - All Countries with more than 3000 Deaths and High COVID-19 spread (more than 20000 cases) has 76 and more
        years of Life Expectancy
      </li>
      <li>
        2 - Countries with low Deaths(less than 3000) and low COVID-19 spread (less than 20000 cases) has 75 and less
        years of Life Expectancy
      </li>
    </ul>

    <div>
      <img src="/assets/images/analytics/covid-correlation/correlation5.png" alt="">
    </div>

    <div>
      <img src="/assets/images/analytics/covid-correlation/correlation6.png" alt="">
    </div>

    <h2>California Example</h2>

    <div class="flex row">
      <div class="col-md-6">
        <img src="/assets/images/analytics/covid-correlation/correlation7_california1.png" alt="">
      </div>

      <div class="col-md-6">
        <img src="/assets/images/analytics/covid-correlation/correlation8_california2.png" alt="">
      </div>
    </div>


    <h2>Illinois Example</h2>

    <div class="flex row">
      <div class="col-md-6">
        <img src="/assets/images/analytics/covid-correlation/correlation9_illinois1.png" alt="">
      </div>

      <div class="col-md-6">
        <img src="/assets/images/analytics/covid-correlation/correlation10_illinois2.png" alt="">
      </div>
    </div>



    <!-- <div class="embedded-file">
            <script src="https://gist.github.com/fadimasoud/85b2069cf659fc98ad5decb097ac5a52.js"></script>
          </div> -->

  </section>

</div>
<!-- images end -->




<!-- TO BE REMOVED
<code data-gist-id="85b2069cf659fc98ad5decb097ac5a52"></code>

<section class="wrapper analytics-main flex">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti debitis asperiores ullam facilis, ratione
        deleniti ipsa repellat nesciunt, ea doloremque pariatur nihil officiis cumque alias! Enim eum laboriosam
        doloribus voluptatem. <br><br>
        Nesciunt quas necessitatibus nulla facere laudantium recusandae commodi iusto reprehenderit numquam! Eligendi
        laboriosam, dolore illum blanditiis praesentium maiores voluptatem amet dignissimos, deserunt voluptatibus
        optio. Repudiandae iste ipsum vitae labore illum.<br><br>
    </p>
</section> -->