<section class="wrapper analytics-main flex">
    <h1 class="text-center">CORRELATION WITH COVID19 [GRAPHS]</h1>
</section>


<!-- the images goes here -->
<h4 class="text-center"> California</h4> 
<div class="wrapper flex row">    
    <div class="col-sm-12 col-md-6">
        <img src="assets\images\Analytic_Correlation\correlation1.png" alt="opps">
    </div>
    <div class="col-sm-12 col-md-6">
        <img src="assets\images\Analytic_Correlation\correlation2.png" alt="opps">
    </div>
</div>
<br>
<h4 class="text-center"> Texas</h4> 
<div class="wrapper flex row">    
    <div class="col-sm-12 col-md-6">
        <img src="assets\images\Analytic_Correlation\correlation3.png" alt="opps">
    </div>
    <div class="col-sm-12 col-md-6">
        <img src="assets\images\Analytic_Correlation\correlation4.png" alt="opps">
    </div>
</div>
<br><h4 class="text-center">Illinois</h4> 
<div class="wrapper flex row">    
    <div class="col-sm-12 col-md-6">
        <img src="assets\images\Analytic_Correlation\correlation5.png" alt="opps">
    </div>
    <div class="col-sm-12 col-md-6">
        <img src="assets\images\Analytic_Correlation\correlation6.png" alt="opps">
    </div>
</div>
<br>


<!-- images end -->




<!-- TO BE REMOVED
<code data-gist-id="85b2069cf659fc98ad5decb097ac5a52"></code>

<section class="wrapper analytics-main flex">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti debitis asperiores ullam facilis, ratione
        deleniti ipsa repellat nesciunt, ea doloremque pariatur nihil officiis cumque alias! Enim eum laboriosam
        doloribus voluptatem. <br><br>
        Nesciunt quas necessitatibus nulla facere laudantium recusandae commodi iusto reprehenderit numquam! Eligendi
        laboriosam, dolore illum blanditiis praesentium maiores voluptatem amet dignissimos, deserunt voluptatibus
        optio. Repudiandae iste ipsum vitae labore illum.<br><br>
    </p>
</section> -->