<section class="wrapper analytics-main flex">
    <h1 class="text-center">COVID19 FORECASTING</h1>
</section>

<code data-gist-id="dd512e27f81faa107c39544589c69eec"></code>

<section class="wrapper analytics-main flex">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti debitis asperiores ullam facilis, ratione
        deleniti ipsa repellat nesciunt, ea doloremque pariatur nihil officiis cumque alias! Enim eum laboriosam
        doloribus voluptatem. <br><br>
        Nesciunt quas necessitatibus nulla facere laudantium recusandae commodi iusto reprehenderit numquam! Eligendi
        laboriosam, dolore illum blanditiis praesentium maiores voluptatem amet dignissimos, deserunt voluptatibus
        optio. Repudiandae iste ipsum vitae labore illum.<br><br>
    </p>
</section>