    <!-- Analytics Content -->
    <section class="wrapper analytics-forecasting flex">
      <h1 class="text-center">Forecasting</h1>
      <h5 class="text-center">=== COVID-19 Statistics Analysis ===</h5>
      
      <div class="forecasting-summary">
        <ul>
          <p>COVID-19 Countries Statistics:</p>
          <li><i class="fas fa-angle-double-right"></i> Countries where the next Outbreak might be.</li>
          <li><i class="fas fa-angle-double-right"></i> Countries Need to keep Control (current procedure) to dodge the outbreak.</li>
          <li><i class="fas fa-angle-double-right"></i> Countries Manage to Control The outbreak (Flatten the curve) in current procedures.</li>
        </ul>
      </div>

      <div class="forecasting-countries">

        <small>
          By 14/11/2020 (Data Updated end of each week).
        </small>
        
        <h5>
          Below Countries Losing Control of the Outbreak:
        </h5>

        <small>
          'Netherlands', 'Finland', 'Italy', 'Hungary', 'Taiwan', 'Tunisia', 'Denmark', 'Luxembourg', 'Sweden', 'Spain', 'Greece', 'Syria', 'France', 'South Sudan', 'Belgium', 'UK', 'Ireland', 'Republic of Ireland', 'Portugal', 'North Ireland', 'Niger', 'Norway'
        </small>

        <h5>
          Countries manage more Control of the Outbreak:
        </h5>

        <small>
          'Vietnam', 'New Zealand', 'Paraguay', 'Morocco', 'Jordan', 'Egypt', 'Chile', 'Mexico', 'Mainland China', 'Germany', 'Bolivia',  United Arab Emirates', 'Russia', 'Canada', 'Nigeria', 'Bahrain', 'Saudi Arabia', 'Iran', 'Qatar', 'Bosnia and Herzegovina', 'Israel',  Switzerland', 'Austria', 'Kuwait', 'Oman', 'Hong Kong', 'Lebanon', 'Argentina', 'Algeria', 'India', 'US', 'Japan', 'Iraq', 'South Korea',  Australia', 'Turkey', 'Cuba', 'Singapore', 'Malaysia', 'Poland', 'Brazil', 'Thailand'
        </small>

        <h5>
          Countries where the next Outbreak might be:
        </h5>
        <small>
          ['Belgium', 'France', 'Greece', 'Hungary', 'Lebanon', 'Netherlands', 'Spain', 'Sweden', 'Syria', 'Tunisia', 'UK', 'US']
        </small>

        <h5>
          Countries need to keep Control (current procedure) to dodge the outbreak:
        </h5>
        <small>
          ['Jordan', 'Paraguay']
        </small>

        <h5>
          Countries Manage to Control the outbreak (Flatten the curve) in current procedures:
        </h5>
        <small>
          ['Algeria', 'Argentina', 'Australia', 'Austria', 'Bahrain', 'Bolivia', 'Bosnia and Herzegovina', 'Brazil', 'Canada', 'Chile', 'Cuba', 'Denmark', 'Egypt', 'Finland', 'Germany', 'Hong Kong', 'India', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kuwait', 'Luxembourg', 'Mainland China', 'Malaysia', 'Mexico', 'Morocco', 'New Zealand', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Poland', 'Portugal', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'South Sudan', 'Switzerland', 'Thailand', 'Turkey', 'United Arab Emirates', 'Vietnam']

        </small>

      </div>

      <div class="forecasting-graphs">
        <h3>Detailed Graph</h3>
        
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting1.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting2.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting3.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting4.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting5.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting6.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting7.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting8.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting9.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting10.png" alt="">
        </div>
        <div>
          <img src="/assets/images/analytics/forecasting/forecasting11.png" alt="">
        </div>
        


      </div>
        

      
    </section>
  